<!doctype html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>

<h1>Let's play a game!</h1>

<form action="/madlib" method="POST">

    <label>
        Enter day of week:
        <input type="text" name="day">
    </label>
    <br>
    <label>
        Enter name:
        <input type="text" name="person">
    </label>
    <br>
    <label>
        Enter a color:
        <input type="text" name="color">
    </label>
    <br>
    <label>
        Enter a noun:
        <input type="text" name="noun" >
    </label> 
    <br>
    <label>
        Enter an adjective:
        <input type="text" name="adjective">
    </label> 
    <br>
    <label>
        Enter adverb:
        <input type="text" name="adverb">
    </label>
    <br>
    <label>
        Enter a verb:
        <input type="text" name="verb">
    </label>
    <br>
    <label>
        Enter a place:
        <input type="text" name="place">
    </label>
    <br>
    <input type="submit">
</form>

</body>
</html>
