<!doctype html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>

<h1>Let's play a game!</h1>

<form action="/madlib" method="POST">

    <label>
        Enter day of week:
        <input type="text" name="day">
    </label>
    <br>
    <label>
        Enter name:
        <input type="text" name="person">
    </label>
    <br>
    <label>
        Enter a color:
        <input type="text" name="color">
    </label>
    <br>
    <label>
        What is your mode of transport?
        <input type="checkbox" name="transport" value="car" {% if transport == car %} checked=true {% endif %}> Car
        <input type="checkbox" name="transport" value="bike"{% if transport == bike %} checked=true {% endif %}> Bike

    </label> 
    <br>
    <label>
        Enter an adjective:
        <input type="text" name="adjective">
    </label> 
    <br>
    <label>
        Choose adverb:
        <select name="adverb" id="select-adverb">
            <option value="readily">readily</option>
            <option value="often">often</option>
            <option value="backwards">backwords</option>
            <option value="extrmely">extremely</option>
            <option value="increadibly">increadibly</option>
        </select>
    </label>
    <br>
    <label>
        Enter a verb:
        <input type="text" name="verb">
    </label>
    <br>
    <label>
        Enter a place:
        <input type="text" name="place">
    </label>
    <br>
    <input type="submit">
</form>

</body>
</html>
