<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>madlib</title>
</head>
<body>
   On {{ day }}, there once was a {{ color }} {{ noun }} sitting in the 
   Hackbright Lab. When {{ person }} went to pick it up, it burst into flames 
   in a totally {{ adjective }} way. <p>The {{person}} burst into {{adverb}} of 
   tears and {{verb}} to never go back to the {{place}} again.</p>
</body>
</html>